PORT=5000
MONGO_URI=mongodb://localhost:27017/medimap
OPENAI_API_KEY=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
